@import '../../theme/colors.scss';

.map {
    background-color: transparent;
    min-height: 80vh;
    width: 95%;
    display: flex;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border-style: ridge ;
    border-width: 3px;
    border-color:  $lightBorder;
    box-shadow: 0px 0px 15px 5px rgba($color: $WhiteShadow, $alpha: 0.3);
}