$appBackground: #6d6d6d;
$panelsBackground: #1d2027;
$lightBorder: #86b8b9d0;
$darkBorder: #080169;
$ShadowColor: #000000;
$fontColor: #ffffff;
$WhiteShadow: #fcfbfb;
$DataTableBackground: #bac1ce;